version: "3.8"
services:
  lux-node:
    image: ethereum/client-go:stable
    container_name: lux-node
    volumes:
      - ./data:/root/.ethereum
      - ./genesis.json:/root/genesis.json
    ports:
      - "8545:8545"
      - "30303:30303"
      - "8546:8546"
    command: >
      sh -c "
      geth --datadir /root/.ethereum init /root/genesis.json &&
      geth --datadir /root/.ethereum
           --networkid 56789
           --http
           --http.addr 0.0.0.0
           --http.port 8545
           --http.api personal,eth,net,web3,txpool,miner
           --ws
           --ws.addr 0.0.0.0
           --ws.port 8546
           --ws.api personal,eth,net,web3,txpool
           --allow-insecure-unlock
           --unlock 0xYOUR_WALLET_ADDRESS
           --mine
           --nodiscover
           --verbosity 3
      "
